{% extends 'base.html' %}

{% block content %}
<div class="products-container">
    {% for c in products%}
    <div class="card">
        <img src="{{c.image}}" class="card-img-top" alt="product">
        <div class="card-body">
            <h5 class="card-title">{{c.name}}</h5>
            <p>Mô tả: {{c.description}}</p>
            <div><h2>Price: {{c.price}}$</h2>
                <button class="buy-btn">Buy Now</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<nav class="nav-number-page" aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for i in range(page_number)%}
        <li class="page-item"><a class="page-link" href="?page={{i+1}}">{{i+1}}</a></li>
        {%endfor%}
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
